<ng-container *ngIf="tarea">
    <div *ngIf="editar == false" class="border-t border-gray-400 flex flex-col my-6 p-4">
        <p class="text-lg"><strong>{{ tarea.titulo }}</strong></p>
        <p>{{ tarea.descripcion }}</p>
        <div class="sw-full flex justify-end p-2 gap-4" *ngIf="editar == false">
            <app-boton texto="Editar" (click)="editarClick(true)"></app-boton>
            <app-boton texto="Eliminar" variante="cancelar"></app-boton>
        </div>
    </div>

    <ng-container *ngIf="editar">
        <app-tarea-form [editar]="editar" [titulo]="tarea.titulo" [descripcion]="tarea.descripcion"></app-tarea-form>
    </ng-container>
</ng-container>
